
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~dragdealer/src/dragdealer.css';
@import '~bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  padding-top: 4rem;
}

#logo_title {
  font-family: 'Love Ya Like A Sister', cursive;
  //font-family: 'Karla', sans-serif;
  font-size:70px;
  text-align: center;
  @extend .pb-5;
}

.dragdealer {
  position: relative;
  height: 30px;
  background: #e1e1e1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: $primary;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.dragdealer .red-bar {
  width: 100px;
  height: 30px;
  background: #CC0000;
}

.dragdealer .disabled {
  background: #898989;
}

.padding-bar {
  width: 30px;
}

.coef-bar {
  width: 40px;
}